*Lambda Map Reduce Filter etc Functions*

In [1]:
def calculate_power(mylist):
    return mylist**2

In [2]:
numbers = [1, 2, 3, 4, 5]
powered = list(map(calculate_power, numbers))
powered

[1, 4, 9, 16, 25]

In [3]:
def get_even(value):
    return value if value % 2 == 0 else None

In [4]:
even = list(filter(get_even, numbers))
even

[2, 4]

*Reduce*

In [5]:
from functools import reduce

In [6]:
def sub_values(num1, num2):
    print(f"{num1} - {num2}")
    return num1 - num2

In [7]:
reduce_result = reduce(sub_values, numbers)
reduce_result

1 - 2
-1 - 3
-4 - 4
-8 - 5

-13

*Accumulate*

In [8]:
from itertools import accumulate

In [9]:
def product(num1, num2):
    print(f"{num1} , {num2}")
    return num1 * num2

In [10]:
prod = list(accumulate(func=product, iterable=numbers))
prod

1 , 2
2 , 3
6 , 4
24 , 5

[1, 2, 6, 24, 120]

*Lambda Functions*

Lambda Functions are Anonymous functions, it can have multiple arguments but have only one expression. Expression is evaluated and returned

In [11]:
import re

In [12]:
def remove_special_characters(mystr):
    return re.sub(r'[^0-9a-zA-Z\s]', '', mystr)

In [13]:
text = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac % ma&@( *** 88 )@ urna *** 8# 7! et ligula. Sed $^%#% varius tortor vel #@@@@%## lacinia! Nullam volutpat! ? adipiscing @^%#% aliquam, id euismod **#^!&^ purus e#@%%, ultricies velit. Etiam ultricies &^$#&% 8# urna at !^#+ malesuada. Aenean eget %?##%## interdum mi, $@@%#& eget ?##%## varius mi. Nullam sed $@##^?^@$ orci. Suspendisse vel ^^#!(@ placerat %!^&%% ligula, !^^$! 8##?%#^&$ vitae!#^%?## vel !&%!$!&%! eu. Sed congue eros $&^?@& in *** ex ultricies %^?^!@&##. In in condimentum! ??$#!# eu ?#?##$ neque. Pellentesque tristique %%%$%## eleifend. Fusce !##&(@ consectetur arcu. Nullam eget ##^^$ condimentum. Etiam sed %^?%% urna ?$?%%# id ?^!?%% pretium. Quisque $#?%@?(@ eu @?%#$# velit. Suspendisse potenti. Sed $#&##%( eros, eu euismod arcu. Nunc fringilla ^@%##% elit %##%%# non ?#%%^ rhoncus. Nunc !?#!?#?# nec %!^^%!% semper $!%#!@%??@!@#. Donec %^!##?^#@ sit amet $@@#!# lectus. Quisque vitae $%%?%@ odio. Nulla elementum, !#?@&^@## vel ^#^%%#??*??#$# consequat. Integer %%%%$%%## laoreet urna. Morbi non $?@?^?^?@##@?## ipsum. Mauris consequat $^##%%#($#@% non ^%@!$#?#@!^? urna $@#^$##@. Vivamus $^$#% consequat ##^#$$%##! eu $@#?#??##?#@%##?@?###?#?#?#?#?!##?#?#? eu volutpat."

In [14]:
print(text)

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac % ma&@( *** 88 )@ urna *** 8# 7! et ligula. Sed $^%#% varius tortor vel #@@@@%## lacinia! Nullam volutpat! ? adipiscing @^%#% aliquam, id euismod **#^!&^ purus e#@%%, ultricies velit. Etiam ultricies &^$#&% 8# urna at !^#+ malesuada. Aenean eget %?##%## interdum mi, $@@%#& eget ?##%## varius mi. Nullam sed $@##^?^@$ orci. Suspendisse vel ^^#!(@ placerat %!^&%% ligula, !^^$! 8##?%#^&$ vitae!#^%?## vel !&%!$!&%! eu. Sed congue eros $&^?@& in *** ex ultricies %^?^!@&##. In in condimentum! ??$#!# eu ?#?##$ neque. Pellentesque tristique %%%$%## eleifend. Fusce !##&(@ consectetur arcu. Nullam eget ##^^$ condimentum. Etiam sed %^?%% urna ?$?%%# id ?^!?%% pretium. Quisque $#?%@?(@ eu @?%#$# velit. Suspendisse potenti. Sed $#&##%( eros, eu euismod arcu. Nunc fringilla ^@%##% elit %##%%# non ?#%%^ rhoncus. Nunc !?#!?#?# nec %!^^%!% semper $!%#!@%??@!@#. Donec %^!##?^#@ sit amet $@@#!# lectus. Quisque vitae $%%?%@ odio. Nulla elementum, !#?@&^@## vel ^#^%%#??*??#$# consequat. Integer %%%%$%%## laoreet urna. Morbi non $?@?^?^?@##@?## ipsum. Mauris consequat $^##%%#($#@% non ^%@!$#?#@!^? urna $@#^$##@. Vivamus $^$#% consequat ##^#$$%##! eu $@#?#??##?#@%##?@?###?#?#?#?#?!##?#?#? eu volutpat.

In [15]:
remove_special_characters(text)

'Lorem ipsum dolor sit amet consectetur adipiscing elit Fusce ac  ma  88  urna  8 7 et ligula Sed  varius tortor vel  lacinia Nullam volutpat  adipiscing  aliquam id euismod  purus e ultricies velit Etiam ultricies  8 urna at  malesuada Aenean eget  interdum mi  eget  varius mi Nullam sed  orci Suspendisse vel  placerat  ligula  8 vitae vel  eu Sed congue eros  in  ex ultricies  In in condimentum  eu  neque Pellentesque tristique  eleifend Fusce  consectetur arcu Nullam eget  condimentum Etiam sed  urna  id  pretium Quisque  eu  velit Suspendisse potenti Sed  eros eu euismod arcu Nunc fringilla  elit  non  rhoncus Nunc  nec  semper  Donec  sit amet  lectus Quisque vitae  odio Nulla elementum  vel  consequat Integer  laoreet urna Morbi non  ipsum Mauris consequat  non  urna  Vivamus  consequat  eu  eu volutpat'

In [16]:
remove_special_characters_lambda = lambda mystr: re.sub(r'[^0-9a-zA-Z\s]', '', mystr)
remove_special_characters(text)

'Lorem ipsum dolor sit amet consectetur adipiscing elit Fusce ac  ma  88  urna  8 7 et ligula Sed  varius tortor vel  lacinia Nullam volutpat  adipiscing  aliquam id euismod  purus e ultricies velit Etiam ultricies  8 urna at  malesuada Aenean eget  interdum mi  eget  varius mi Nullam sed  orci Suspendisse vel  placerat  ligula  8 vitae vel  eu Sed congue eros  in  ex ultricies  In in condimentum  eu  neque Pellentesque tristique  eleifend Fusce  consectetur arcu Nullam eget  condimentum Etiam sed  urna  id  pretium Quisque  eu  velit Suspendisse potenti Sed  eros eu euismod arcu Nunc fringilla  elit  non  rhoncus Nunc  nec  semper  Donec  sit amet  lectus Quisque vitae  odio Nulla elementum  vel  consequat Integer  laoreet urna Morbi non  ipsum Mauris consequat  non  urna  Vivamus  consequat  eu  eu volutpat'

*Task: 1 - Calculate Sum of Squared Even Numbers*

In [17]:
from random import randint

In [18]:
numbers = [randint(0, 1000) for i in range(16)]
numbers

[563,
 128,
 917,
 783,
 162,
 968,
 568,
 625,
 623,
 415,
 268,
 891,
 345,
 457,
 774,
 410]

In [19]:
''' Writing Lambda Functions for the tasks '''
get_even = lambda num: num if num % 2 ==0 else None
cal_square = lambda num: num ** 2
cal_sum = lambda num1, num2: num1 + num2

In [20]:
even_numbers = list(filter(get_even, numbers))
even_numbers

[128, 162, 968, 568, 268, 774, 410]

In [21]:
squared_numbers = list(map(cal_square, even_numbers))
squared_numbers

[16384, 26244, 937024, 322624, 71824, 599076, 168100]

In [22]:
sum_value = reduce(cal_sum, squared_numbers)
sum_value

2141276

*Task2: Analyzing Student Grades*

In [23]:
# Task
    # Calculate the average score for each student.
    # Filter out students who have an average score below a certain threshold. 60 - 80
    # Find the student with the highest average score.
    # Calculate the overall class average.

In [24]:
students = [
    {"name": "Alice", "scores": [85, 90, 78, 92, 88]},
    {"name": "Bob", "scores": [78, 85, 90, 88, 92]},
    {"name": "Charlie", "scores": [90, 92, 88, 78, 85]},
    {"name": "David", "scores": [88, 82, 95, 76, 90]},
    {"name": "Eve", "scores": [92, 91, 89, 87, 84]},
    {"name": "Frank", "scores": [79, 86, 93, 89, 77]},
    {"name": "Grace", "scores": [84, 88, 92, 87, 91]},
    {"name": "Helen", "scores": [90, 88, 85, 92, 79]},
    {"name": "Isaac", "scores": [86, 92, 78, 84, 90]},
    {"name": "Julia", "scores": [92, 84, 88, 85, 91]},
    {"name": "Kevin", "scores": [78, 88, 92, 85, 90]},
    {"name": "Linda", "scores": [84, 86, 90, 88, 91]},
    {"name": "Michael", "scores": [90, 87, 84, 88, 92]},
    {"name": "Nancy", "scores": [85, 88, 92, 90, 78]},
    {"name": "Oliver", "scores": [92, 88, 85, 78, 90]},
    {"name": "Pamela", "scores": [88, 90, 78, 92, 85]},
    {"name": "Quincy", "scores": [85, 92, 88, 90, 78]},
    {"name": "Rachel", "scores": [90, 88, 85, 92, 78]},
    {"name": "Samuel", "scores": [78, 88, 90, 85, 92]},
    {"name": "Tina", "scores": [85, 78, 88, 92, 90]},
    {"name": "Ulysses", "scores": [92, 85, 88, 90, 78]},
]

In [25]:
# Calculate Avg for each Student

In [26]:
def calculate_avg(student_dict):
    student_dict['average'] = sum(student_dict['scores']) / len(student_dict['scores'])
    return student_dict

def get_specific_students(student_dict, threshold):
    return student_dict if student_dict['average'] >= threshold else None

def get_highest_scores(student_dict):
    
    return student_dict

In [29]:
list(map(calculate_avg, students)) # it will calculate average to original object

[{'name': 'Alice', 'scores': [85, 90, 78, 92, 88], 'average': 86.6},
 {'name': 'Bob', 'scores': [78, 85, 90, 88, 92], 'average': 86.6},
 {'name': 'Charlie', 'scores': [90, 92, 88, 78, 85], 'average': 86.6},
 {'name': 'David', 'scores': [88, 82, 95, 76, 90], 'average': 86.2},
 {'name': 'Eve', 'scores': [92, 91, 89, 87, 84], 'average': 88.6},
 {'name': 'Frank', 'scores': [79, 86, 93, 89, 77], 'average': 84.8},
 {'name': 'Grace', 'scores': [84, 88, 92, 87, 91], 'average': 88.4},
 {'name': 'Helen', 'scores': [90, 88, 85, 92, 79], 'average': 86.8},
 {'name': 'Isaac', 'scores': [86, 92, 78, 84, 90], 'average': 86.0},
 {'name': 'Julia', 'scores': [92, 84, 88, 85, 91], 'average': 88.0},
 {'name': 'Kevin', 'scores': [78, 88, 92, 85, 90], 'average': 86.6},
 {'name': 'Linda', 'scores': [84, 86, 90, 88, 91], 'average': 87.8},
 {'name': 'Michael', 'scores': [90, 87, 84, 88, 92], 'average': 88.2},
 {'name': 'Nancy', 'scores': [85, 88, 92, 90, 78], 'average': 86.6},
 {'name': 'Oliver', 'scores': [92, 88, 85, 78, 90], 'average': 86.6},
 {'name': 'Pamela', 'scores': [88, 90, 78, 92, 85], 'average': 86.6},
 {'name': 'Quincy', 'scores': [85, 92, 88, 90, 78], 'average': 86.6},
 {'name': 'Rachel', 'scores': [90, 88, 85, 92, 78], 'average': 86.6},
 {'name': 'Samuel', 'scores': [78, 88, 90, 85, 92], 'average': 86.6},
 {'name': 'Tina', 'scores': [85, 78, 88, 92, 90], 'average': 86.6},
 {'name': 'Ulysses', 'scores': [92, 85, 88, 90, 78], 'average': 86.6}]

In [30]:
len(students)

21

In [32]:
students

[{'name': 'Alice', 'scores': [85, 90, 78, 92, 88], 'average': 86.6},
 {'name': 'Bob', 'scores': [78, 85, 90, 88, 92], 'average': 86.6},
 {'name': 'Charlie', 'scores': [90, 92, 88, 78, 85], 'average': 86.6},
 {'name': 'David', 'scores': [88, 82, 95, 76, 90], 'average': 86.2},
 {'name': 'Eve', 'scores': [92, 91, 89, 87, 84], 'average': 88.6},
 {'name': 'Frank', 'scores': [79, 86, 93, 89, 77], 'average': 84.8},
 {'name': 'Grace', 'scores': [84, 88, 92, 87, 91], 'average': 88.4},
 {'name': 'Helen', 'scores': [90, 88, 85, 92, 79], 'average': 86.8},
 {'name': 'Isaac', 'scores': [86, 92, 78, 84, 90], 'average': 86.0},
 {'name': 'Julia', 'scores': [92, 84, 88, 85, 91], 'average': 88.0},
 {'name': 'Kevin', 'scores': [78, 88, 92, 85, 90], 'average': 86.6},
 {'name': 'Linda', 'scores': [84, 86, 90, 88, 91], 'average': 87.8},
 {'name': 'Michael', 'scores': [90, 87, 84, 88, 92], 'average': 88.2},
 {'name': 'Nancy', 'scores': [85, 88, 92, 90, 78], 'average': 86.6},
 {'name': 'Oliver', 'scores': [92, 88, 85, 78, 90], 'average': 86.6},
 {'name': 'Pamela', 'scores': [88, 90, 78, 92, 85], 'average': 86.6},
 {'name': 'Quincy', 'scores': [85, 92, 88, 90, 78], 'average': 86.6},
 {'name': 'Rachel', 'scores': [90, 88, 85, 92, 78], 'average': 86.6},
 {'name': 'Samuel', 'scores': [78, 88, 90, 85, 92], 'average': 86.6},
 {'name': 'Tina', 'scores': [85, 78, 88, 92, 90], 'average': 86.6},
 {'name': 'Ulysses', 'scores': [92, 85, 88, 90, 78], 'average': 86.6}]

In [34]:
distinct_students = list(filter(lambda student: get_specific_students(student, 86.5), students))
distinct_students, len(distinct_students)

([{'name': 'Alice', 'scores': [85, 90, 78, 92, 88], 'average': 86.6},
  {'name': 'Bob', 'scores': [78, 85, 90, 88, 92], 'average': 86.6},
  {'name': 'Charlie', 'scores': [90, 92, 88, 78, 85], 'average': 86.6},
  {'name': 'Eve', 'scores': [92, 91, 89, 87, 84], 'average': 88.6},
  {'name': 'Grace', 'scores': [84, 88, 92, 87, 91], 'average': 88.4},
  {'name': 'Helen', 'scores': [90, 88, 85, 92, 79], 'average': 86.8},
  {'name': 'Julia', 'scores': [92, 84, 88, 85, 91], 'average': 88.0},
  {'name': 'Kevin', 'scores': [78, 88, 92, 85, 90], 'average': 86.6},
  {'name': 'Linda', 'scores': [84, 86, 90, 88, 91], 'average': 87.8},
  {'name': 'Michael', 'scores': [90, 87, 84, 88, 92], 'average': 88.2},
  {'name': 'Nancy', 'scores': [85, 88, 92, 90, 78], 'average': 86.6},
  {'name': 'Oliver', 'scores': [92, 88, 85, 78, 90], 'average': 86.6},
  {'name': 'Pamela', 'scores': [88, 90, 78, 92, 85], 'average': 86.6},
  {'name': 'Quincy', 'scores': [85, 92, 88, 90, 78], 'average': 86.6},
  {'name': 'Rachel', 'scores': [90, 88, 85, 92, 78], 'average': 86.6},
  {'name': 'Samuel', 'scores': [78, 88, 90, 85, 92], 'average': 86.6},
  {'name': 'Tina', 'scores': [85, 78, 88, 92, 90], 'average': 86.6},
  {'name': 'Ulysses', 'scores': [92, 85, 88, 90, 78], 'average': 86.6}],
 18)

In [33]:
students

[{'name': 'Alice', 'scores': [85, 90, 78, 92, 88], 'average': 86.6},
 {'name': 'Bob', 'scores': [78, 85, 90, 88, 92], 'average': 86.6},
 {'name': 'Charlie', 'scores': [90, 92, 88, 78, 85], 'average': 86.6},
 {'name': 'David', 'scores': [88, 82, 95, 76, 90], 'average': 86.2},
 {'name': 'Eve', 'scores': [92, 91, 89, 87, 84], 'average': 88.6},
 {'name': 'Frank', 'scores': [79, 86, 93, 89, 77], 'average': 84.8},
 {'name': 'Grace', 'scores': [84, 88, 92, 87, 91], 'average': 88.4},
 {'name': 'Helen', 'scores': [90, 88, 85, 92, 79], 'average': 86.8},
 {'name': 'Isaac', 'scores': [86, 92, 78, 84, 90], 'average': 86.0},
 {'name': 'Julia', 'scores': [92, 84, 88, 85, 91], 'average': 88.0},
 {'name': 'Kevin', 'scores': [78, 88, 92, 85, 90], 'average': 86.6},
 {'name': 'Linda', 'scores': [84, 86, 90, 88, 91], 'average': 87.8},
 {'name': 'Michael', 'scores': [90, 87, 84, 88, 92], 'average': 88.2},
 {'name': 'Nancy', 'scores': [85, 88, 92, 90, 78], 'average': 86.6},
 {'name': 'Oliver', 'scores': [92, 88, 85, 78, 90], 'average': 86.6},
 {'name': 'Pamela', 'scores': [88, 90, 78, 92, 85], 'average': 86.6},
 {'name': 'Quincy', 'scores': [85, 92, 88, 90, 78], 'average': 86.6},
 {'name': 'Rachel', 'scores': [90, 88, 85, 92, 78], 'average': 86.6},
 {'name': 'Samuel', 'scores': [78, 88, 90, 85, 92], 'average': 86.6},
 {'name': 'Tina', 'scores': [85, 78, 88, 92, 90], 'average': 86.6},
 {'name': 'Ulysses', 'scores': [92, 85, 88, 90, 78], 'average': 86.6}]

In [48]:
list(reversed(sorted(students, key = lambda stu: stu['average'])))[0]

{'name': 'Eve', 'scores': [92, 91, 89, 87, 84], 'average': 88.6}

In [49]:
students_averages = list(map(lambda st: [st['name'], st['average']], students))
first_position = reduce(lambda x, y: x if x[1] > y[1] else y, students_averages)
first_position

['Eve', 88.6]

In [65]:
class_average = accumulate(lambda x, y: print(x, y), students_averages)

['Alice', 86.6] ['Bob', 86.6]
None ['Charlie', 86.6]
None ['David', 86.2]
None ['Eve', 88.6]
None ['Frank', 84.8]
None ['Grace', 88.4]
None ['Helen', 86.8]
None ['Isaac', 86.0]
None ['Julia', 88.0]
None ['Kevin', 86.6]
None ['Linda', 87.8]
None ['Michael', 88.2]
None ['Nancy', 86.6]
None ['Oliver', 86.6]
None ['Pamela', 86.6]
None ['Quincy', 86.6]
None ['Rachel', 86.6]
None ['Samuel', 86.6]
None ['Tina', 86.6]
None ['Ulysses', 86.6]